#run = ["nix-build", "-E", "let pkgs = ((import <nixpkgs>) {}); in pkgs.callPackage ./default.nix {}"]
#run = "cd src/hugo/blog/ && hugo server --buildDrafts --buildFuture --bind 0.0.0.0 --port 443 --baseURL https://nixtest.jimmymjin.repl.co"
run = "sh run.sh"

[nix]
channel = "stable-22_11"